.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;

  height: 25px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}
.logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
}
.logo2 {
  width: 30px;
  object-fit: contain;
  position: fixed;
  right: 20px;
}
.alignSearch{
display: flex;
align-items: center;
justify-content: center;
}
.searchInput {
  padding: 7px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 75%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  background-color: black;
  color: whitesmoke;
}
.searchButton{
  position: absolute;
  right: 100px;
  background:none;
  border: none;
}
.searchButtonIn{
  width: 32px;
  height: 32px;
}
.submitSearchButton{
position: absolute;
left: 84%;
border-radius: 4px;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
border: none;
background-color: black;
color: whitesmoke;
font-weight: bold
}

.submitSearchButton:hover{
  background-color: white;
  color: black;
}